<style>

    table, th, td {
    border: 1px solid black;

    }

    table.travel-info {
    width: 500px;
    }

</style>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for Evening Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <p>Goodnight, <span th:utext="${name}">Generic User's Name</span>...</p>

    <h3>Your Travel Information:</h3>

    <p>Traveling from BHX to <span th:text="${to}">POSTCODE</span></p>
    <div th:if="${routes} != null">
        <table class="travel-info">
            <tr>
                <td>Route Description</td>
                <td>Distance</td>
                <td>Travel Time</td>
                <td>Without Traffic</td>
            </tr>
            <tr th:each="route : ${routes}">
                <td th:text="${route.description}">M6, M42</td>
                <td th:text="${route.travelDistance} + ' Miles'">40 Miles</td>
                <td th:text="${route.travelDurationTraffic} + ' Mins'">60 Mins</td>
                <td th:text="${route.travelDuration} + ' Mins'">50 Mins</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
